
a,a:hover{
  color:black;
  text-decoration: none;
}
body{
  padding:0;
  margin:0;
}

.navbar{
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: white;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  height: 2.5rem;
  padding: 0.5% 10%;
  font-size: 1.3rem;
}

.navbar span{
  padding: 0 1%;
}


/*************************CONTENT*************************/

.content{
  padding-top: 7rem;
  text-align: center;
  padding: 7% 10%;
}

.postTitle{
  font-size: 3rem;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

.author{
  color: grey;
  text-align: left;
  position: relative;
  bottom: 20px;
}

.cell{
  
  padding: 10px 90px;
}



.postBody{
  text-align: justify;
  font-size: 1rem;
  margin: 3rem 0;
}


img[alt="hand"]{
  width:40px;
  height:40px;
  margin-top:450px;
  margin-left: 1350px;
  position: fixed;
}

.like p{
  margin-top:465px;
  margin-left: 1400px;
  position: fixed;
  font-family: 'Rubik', sans-serif;
}

img[alt="hand"]:hover{
  opacity: 60%;
  border:2px solid green;
  transition: yellow 0.9s ease-in;
  animation: shockwave 1s ease-in infinite;
  border-radius: 10px;

}





/*************************Footer*************************/

.img img{
  width: 20px;
  margin: 2px;
}

.text{
  font-size: .9rem;
}
